[mysqld]
# Reduce memory usage
key_buffer_size = 16M
max_allowed_packet = 1M
table_open_cache = 32
sort_buffer_size = 512K
read_buffer_size = 256K
read_rnd_buffer_size = 512K
myisam_sort_buffer_size = 8M
innodb_buffer_pool_size = 64M
innodb_log_buffer_size = 1M
innodb_log_file_size = 16M

# Disable performance schema for further memory saving
performance_schema = off
