{% load static %}
<section class="ftco-section ftco-no-pt ftco-no-pb mb-3">
    <div class="container">
        <div class="row d-flex no-gutters">
            <div class="col-md-6 d-flex">
                <div class="img d-flex align-items-center justify-content-center py-5 py-md-0"
                     style="background-image:url({% static 'images/about.jpg' %});">
                    <div class="time-open-wrap">
                        <div class="desc p-4">
                            <h2>Business Hours</h2>
                            <div class="opening-hours">
                                <h4>Opening Days:</h4>
                                <p class="pl-3">
                                    <span><strong>Monday – Friday:</strong> 9am to 8pm</span>
                                    <span><strong>Saturday :</strong> 9am to 5pm</span>
                                </p>
                                <h4>Vacations:</h4>
                                <p class="pl-3">
                                    <span>All Sunday Days</span>
                                    <span>All Official Holidays</span>
                                </p>
                            </div>
                        </div>
                        <div class="desc p-4 bg-secondary">
                            <h3 class="heading">Order cleaning</h3>
                            <a href="tel:+17187552147"><span class="phone">+1(718)755-2147</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pl-md-5 pt-md-5">
                <div class="row justify-content-start py-5">
                    <div class="col-md-12 heading-section ftco-animate">
                        <span class="subheading">Welcome to Cleaning Company</span>
                        <h2 class="mb-4">Your Trusted Cleaning Experts in Los Angeles</h2>
                        <p>At Cleaning Company, we pride ourselves on providing top-notch cleaning services to homes and
                            businesses throughout Los Angeles. Our mission is to deliver exceptional cleaning solutions
                            that exceed your expectations, ensuring your space is spotless, healthy, and inviting. With
                            our experienced team, eco-friendly products, and attention to detail, we guarantee a
                            superior cleaning experience every time.</p>
                    </div>
                </div>
                {% include 'partials/counters.html' %}
            </div>
        </div>
    </div>
</section>