<section class="ftco-appointment ftco-section ftco-no-pt ftco-no-pb">
    <div class="overlay"></div>
    <div class="container">
        <div class="row d-md-flex justify-content-center">
            <div class="col-md-12">
                <div class="wrap-appointment bg-white d-md-flex pl-md-4 pb-5 pb-md-0">
                    <form method="post" class="appointment w-100">
                        {% csrf_token %}
                        <div class="row justify-content-center">
                            <div class="col-12 col-md d-flex align-items-center pt-4 pt-md-0">
                                <div class="form-group py-md-4 py-2 px-4 px-md-0">
                                    <label for="name">Name</label>
                                    {{ form.name }}
                                </div>
                            </div>
                            <div class="col-12 col-md d-flex align-items-center">
                                <div class="form-group py-md-4 py-2 px-4 px-md-0">
                                    <label for="phone_number">Phone number</label>
                                    {{ form.phone_number }}
                                </div>
                            </div>
                            <div class="col-12 col-md d-flex align-items-center">
                                <div class="form-group py-md-4 py-2 px-4 px-md-0">
                                    <label for="services">Object</label>
                                    <div class="form-field">
                                        <div class="select-wrap">
                                            <div class="icon"><span class="fa fa-chevron-down"></span></div>
                                            {{ form.services }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md d-flex align-items-center pb-4 pb-md-0">
                                <div class="form-group py-md-4 py-2 px-4 px-md-0">
                                    <label for="cleaner">Date</label>
                                    <div class="form-field">
                                        <div class="select-wrap">
                                            <div class="icon"><span class="fa fa-chevron-down"></span></div>
                                            {{ form.cleaner }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md d-flex align-items-center align-items-stretch">
                                <div class="form-group py-md-4 py-2 px-4 px-md-0 d-flex align-items-stretch bg-primary">
                                    <input type="submit" value="Make an Appointment" class="btn btn-primary py-3 px-4">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>