<div class="row ftco-counter py-5" id="section-counter">
    <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18">
            <div class="text">
                <strong class="number" data-number="{{ years_experienced }}">0</strong>
            </div>
            <div class="text">
                <span>Years of <br>Experienced</span>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18">
            <div class="text">
                <strong class="number" data-number="{{ happy_customers }}">0</strong>
            </div>
            <div class="text">
                <span>Happy <br>Customers</span>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18">
            <div class="text">
                <strong class="number" data-number="{{ building_cleaned }}">0</strong>
            </div>
            <div class="text">
                <span>Building <br>Cleaned</span>
            </div>
        </div>
    </div>
</div>