<section class="ftco-section ftco-no-pb ftco-no-pt">
    <div class="container">
        <div class="row justify-content-center mb-3">
            <div class="col-md-12 heading-section  text-center ftco-animate">
                <h2>We have done many latest cleaning project</h2>
            </div>
        </div>
        <div class="row">
            {% include 'partials/widget_photo.html' with image='images/work/big_1.jpg' %}
            {% include 'partials/widget_photo.html' with image='images/work/big_2.jpg' %}
            {% include 'partials/widget_photo.html' with image='images/work/big_3.jpg' %}
            {% include 'partials/widget_photo.html' with image='images/work/big_4.jpg' %}
            {% include 'partials/widget_photo.html' with image='images/work/big_5.jpg' %}
            {% include 'partials/widget_photo.html' with image='images/work/big_6.jpg' %}
            {% include 'partials/widget_photo.html' with image='images/work/big_7.jpg' %}
            {% include 'partials/widget_photo.html' with image='images/work/big_1.jpg' %}
        </div>
    </div>
</section>