<section class="ftco-section ftco-no-pb ftco-no-pt">
    <div class="container">
        <div class="row justify-content-center pb-3 mb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2>How We Works</h2>
            </div>
        </div>
        <div class="row">
            {% include 'partials/widget_icon.html' with class_icon='flaticon-workplace' title='Office Cleaning' description='Dusting, vacuuming, and sanitizing all surfaces, including desks, chairs, and workstations. Cleaning appliances, countertops, sinks, and floors for a hygienic eating area. Sweeping, mopping, and vacuuming all types of flooring, with special care for carpets and tiles.' %}
            {% include 'partials/widget_icon.html' with class_icon='flaticon-kitchen' title='Kitchen Cleaning' description='We thoroughly clean all surfaces, including countertops, sinks, and backsplashes, removing grease, grime, and food residues. Your oven, microwave, refrigerator, and other kitchen appliances will be meticulously cleaned inside and out.' %}
            {% include 'partials/widget_icon.html' with class_icon='flaticon-balcony' title='Window Inside Cleaning' description='We clean the interior side of all windows, removing dust, smudges, and fingerprints. We also clean window frames, sills, and tracks, ensuring a comprehensive clean. Our specialized cleaning solutions leave your windows crystal clear with no streaks or residue.'%}
            {% include 'partials/widget_icon.html' with class_icon='flaticon-cleaning' title='Apartment Cleaning' description='Dusting, vacuuming, and sanitizing all surfaces, including furniture, shelves, and decor. Cleaning countertops, appliances, sinks, and cabinets for a spotless and hygienic kitchen. Cleaning floors, upholstery, and common areas to ensure a welcoming environment.' %}
            {% include 'partials/widget_icon.html' with class_icon='flaticon-vacuum-cleaner' title='House Cleaning' description='Dusting, vacuuming, and sanitizing all surfaces, including furniture, shelves, and fixtures. Cleaning countertops, appliances, sinks, and cabinets for a sparkling and hygienic kitchen. Making beds, dusting, and vacuuming to create a clean and restful space.' %}
            {% include 'partials/widget_icon.html' with class_icon='flaticon-tap' title='Bathroom Cleaning' description='Scrubbing and sanitizing all surfaces, including sinks, countertops, toilets, showers, and tubs. Cleaning mirrors and glass surfaces to remove streaks and water spots. Deep cleaning of tiles and grout to remove mold, mildew, and stains. Sweeping, mopping, and scrubbing floors for a spotless finish.' %}
        </div>
    </div>
</section>